<form method="post" action="{{ path('app_sondeur_delete_image', {'id': sondage.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette image ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sondage.id) }}">
    <button class="btn">Supprimer l'image</button>
</form>
