{% extends 'base.html.twig' %}

{% block title %}Sondage index{% endblock %}

{% block body %}

    <a href="{{ path('app_sondeur_new') }}">Créer un sondage</a>

    <a href="{{ path('app_sondeur_my_surveys') }}">Voir tous les sondages crées</a>


{% endblock %}
