{% extends 'base.html.twig' %}

{% block title %}Création d'un nouveau sondage{% endblock %}

{% block body %}

    <h1>Créer un nouveau sondage</h1>
    {{ include('sondeur/_form.html.twig') }}

    <a href="{{ path('app_sondeur_my_surveys') }}">Retour au menu</a>
{% endblock %}


{% block javascripts %}
    {#{{ parent }}#}
    {{ encore_entry_script_tags('manageQuestions') }}
{% endblock %}