{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<h1>Bonjour ADMIN !</h1>

    <a href="{{ path('app_admin_all_surveys') }}">Voir tous les sondages</a>

    <a href="{{ path('app_admin_new_sondeur') }}">Ajouter un sondeur</a>

    <a href="{{ path('app_admin_show_sondeurs') }}">Voir tous les sondeurs</a>

    <a href="{{ path('app_formation_index') }}">Voir toutes les formations</a>
{% endblock %}
