/*.mb-3 .col-form-label{*/
/*    color:white;*/
/*}*/
.a:hover{
    color: #0B65AB;
}

.colonne1-x{
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.77);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px;
    border-radius:25px;
    height: 100%;
}