
/*.grid-container {*/
/*    display: grid;*/
/*    grid-template-columns: 1fr 6fr; !* Première colonne = 1/3, deuxième colonne = 2/3 *!*/
/*    grid-template-rows: 100vh; !* Les deux colonnes occupent toute la hauteur de l'écran *!*/

/*}*/
.content-8 {
    z-index: 1;
    grid-template-rows: 20px auto auto; /* Deux lignes de hauteur automatique */
    grid-gap: 20px; /* Espacement entre les lignes */
    height: 100%; /* La deuxième colonne occupe toute la hauteur de la grille */
}

.row {
    height: 100%;
    /*padding: 20px;*/
}

.ma-1{
    margin: 1em;
}


.aic{
    align-items: center;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
}


.div-parente {
    position: relative;
}

.background {
    position: relative;
    top: 0;
    left: 0;
    width: 100%; /* pour occuper toute la largeur de la div parente */
    height: 100%; /* pour occuper toute la hauteur de la div parente */
    z-index: 1; /* pour positionner l'élément en arrière-plan */
    background-image: url('../images/produit_bio.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.parent {
    position: relative;
    width: 100%;
    height: 100%;
}

.child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 355px;
    background: rgba( 255, 255, 255, 0.65 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    z-index: 4;
    /*background-color: rgba(255, 255, 255, 0.5);*/
}


.child-1 {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 85px;
    background: rgba( 255, 255, 255, 0.65 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    z-index: 9;

}

.child-2{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 85;
    cursor: pointer;
}

.card-1, .card-2{

    background-color: white;
    width:100%;
    height: 50%;
    margin: 3rem;
    border-radius: 20px;
}





.fd{
    flex-direction:column;
}