{% extends 'base.html.twig' %}

{% block title %}Edit CategorieSondage{% endblock %}

{% block body %}
    <h1>Edit CategorieSondage</h1>

    {{ include('admin/categorie_sondage/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_categorie_sondage_index') }}">back to list</a>

    {{ include('admin/categorie_sondage/_delete_form.html.twig') }}
{% endblock %}
